@import "~normalize.css/normalize.css"    // normalizer
@import "font"  	                      // fonts
@import "var"		                      // variables

html
  color: $color-zero
  font-size: 20px

body
  background: $color-white !important
  font-family: "Montserrat"
  font-weight: normal
  //overflow-x: hidden
  min-height: 100vh
  font-size: 20px
  display: flex
  margin: 0

header

main
  background: $color-Whisper1

  flex: 1 1 auto

footer

section
  overflow-x: hidden

.container
  box-sizing: border-box
  max-width: 51rem
  padding: 0 1rem
  margin: 0 auto
  width: 100%

.tags
  flex-wrap: wrap
  display: flex

  > .tag
    margin: 0 15px 13px 0

    &:last-child
      margin-right: 0

.tag
  transition: $transition
  color: $color-white
  border-radius: 3px
  position: relative
  font-size: .5rem

  &:not(.active):hover
    background: $color-RegentGrey1

  input
    position: absolute
    opacity: 0

    &:hover
      cursor: pointer

  &__text
    padding: 3px 4px 2px 5px
    display: inline-block
    letter-spacing: 1px

    &:hover
      cursor: pointer

  &:not(.active)
    opacity: .5

  &_purple
    background: $color-SlateBlue2

  &_orange
    background: $color-RobRoy2

  &_green
    background: $color-OceanGreen

  &_blue
    background: $color-NavyBlue

.cards
  padding: 12px 0

  &_list
    grid-template-columns: repeat(4, 1fr)
    grid-auto-flow: row dense
    grid-column-gap: 1rem
    grid-row-gap: 1rem
    display: grid

    &__item
      background: $color-white
      grid-column-end: span 1
      transition: $transition
      border-radius: .35em
      grid-row-end: span 1
      overflow-x: hidden
      position: relative
      min-height: 15em
      $item: &

      &.active:hover
        transform: scale(.96)
        cursor: pointer

        #{$item}__button
          background: rgba($color-Whisper2, .2)

      &:not(.active)
        opacity: .5

      > div
        padding: 1.1rem 1rem
        z-index: 2

      &__paint
        position: absolute
        z-index: 1
        bottom: 0
        right: 0
        left: 0
        top: 0

      &__head
        background-position: center
        background-size: cover
        position: relative
        overflow: hidden

        .tags
          margin-bottom: 5px

          .tag
            margin-bottom: 7px

            &__text
              &:hover
                cursor: default

        &:not(.have_cover)
          padding-bottom: 0

        &.have_cover
          box-sizing: border-box
          min-height: 8.55em

      &__about
        position: relative

        &:not(.have_cover)
          padding-top: 0

        > div
          &#{$item}__header,
          &#{$item}__subtext
            letter-spacing: -0.01rem
            color: $color-BalticSea
            margin-bottom: .5rem
            line-height: .9rem
            font-size: .75rem

          &#{$item}__description
            color: $color-RegentGrey2
            font-family: "PTSerif"
            line-height: .9rem
            font-size: .7rem

          &#{$item}__subtext
            margin-top: 1rem

          &#{$item}__button
            border: 1px solid rgba($color-Whisper2, .2)
            transition: $transition
            box-sizing: border-box
            display: inline-block
            letter-spacing: 2px
            border-radius: 1rem
            text-align: center
            margin-top: .8rem
            max-width: 6.6rem
            line-height: 1.2
            font-size: 10px
            padding: .5rem
            width: 100%

      &:nth-child(2)
        grid-column-end: span 2
        grid-row-end: span 1

        > div
          padding: 1.5rem

        #{$item}__paint
          background-image: url("../img/default/card.png")
          background-position: calc(100% - 1.35em) center
          background-color: $color-white
          background-repeat: no-repeat
          background-size: auto 13em

        #{$item}__head
          padding-bottom: 0

        #{$item}__about
          padding-top: 0

          > div
            &#{$item}__header
              letter-spacing: -0.4px
              color: $color-Vulcan
              line-height: 1.24
              font-size: 1.1em
              margin-top: 5px
              max-width: 61%

            &#{$item}__description
              max-width: 50%

      &:nth-child(3),
      &:nth-child(6)
        justify-content: center
        flex-direction: column
        text-align: center
        display: flex

        > div
          padding: 1.5rem

          &#{$item}__head
            padding-bottom: 0

          &#{$item}__about
            padding-top: 0

        #{$item}__about
          > div
            color: $color-white

            &#{$item}__header
              letter-spacing: -0.5px
              line-height: 1.24
              font-size: 1.1em

            &#{$item}__description
              line-height: 1.29
              opacity: 0.6

        .tags
          flex-direction: column
          align-items: center

      &:nth-child(6)
        grid-column-end: span 1
        grid-row-end: span 2

@media (max-width: 992px)
  .cards
    &_list
      grid-template-columns: repeat(2, 1fr)

@media (max-width: 480px)
  .cards
    &_list
      grid-template-columns: repeat(1, 1fr)
      grid-column-gap: 0

      &__item
        grid-column-end: span 1 !important
        grid-row-end: span 1 !important
        min-height: 0

        &__paint
          background-image: none !important

        &__header,
        &__description
          max-width: none !important