@font-face
 font-family: 'Montserrat'
 src: url("../fonts/Montserrat-Bold.ttf")
 font-weight: normal
 font-style: normal

@font-face
 font-family: 'PTSerif'
 src: url("../fonts/PTSerif-Regular.ttf")
 font-weight: normal
 font-style: normal