/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Bold.ttf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PTSerif';
  src: url(fonts/PTSerif-Regular.ttf);
  font-weight: normal;
  font-style: normal; }

html {
  color: #000000;
  font-size: 20px; }

body {
  background: #FFFFFF !important;
  font-family: "Montserrat";
  font-weight: normal;
  min-height: 100vh;
  font-size: 20px;
  display: flex;
  margin: 0; }

main {
  background: #eeeeee;
  flex: 1 1 auto; }

section {
  overflow-x: hidden; }

.container {
  box-sizing: border-box;
  max-width: 51rem;
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%; }

.tags {
  flex-wrap: wrap;
  display: flex; }
  .tags > .tag {
    margin: 0 15px 13px 0; }
    .tags > .tag:last-child {
      margin-right: 0; }

.tag {
  transition: all 0.3s ease;
  color: #FFFFFF;
  border-radius: 3px;
  position: relative;
  font-size: .5rem; }
  .tag:not(.active):hover {
    background: #818a8c; }
  .tag input {
    position: absolute;
    opacity: 0; }
    .tag input:hover {
      cursor: pointer; }
  .tag__text {
    padding: 3px 4px 2px 5px;
    display: inline-block;
    letter-spacing: 1px; }
    .tag__text:hover {
      cursor: pointer; }
  .tag:not(.active) {
    opacity: .5; }
  .tag_purple {
    background: #6b3de4; }
  .tag_orange {
    background: #d9a34a; }
  .tag_green {
    background: #41a674; }
  .tag_blue {
    background: #007ac2; }

.cards {
  padding: 12px 0; }
  .cards_list {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row dense;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    display: grid; }
    .cards_list__item {
      background: #FFFFFF;
      grid-column-end: span 1;
      transition: all 0.3s ease;
      border-radius: .35em;
      grid-row-end: span 1;
      overflow-x: hidden;
      position: relative;
      min-height: 15em; }
      .cards_list__item.active:hover {
        transform: scale(0.96);
        cursor: pointer; }
        .cards_list__item.active:hover .cards_list__item__button {
          background: rgba(237, 237, 237, 0.2); }
      .cards_list__item:not(.active) {
        opacity: .5; }
      .cards_list__item > div {
        padding: 1.1rem 1rem;
        z-index: 2; }
      .cards_list__item__paint {
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0; }
      .cards_list__item__head {
        background-position: center;
        background-size: cover;
        position: relative;
        overflow: hidden; }
        .cards_list__item__head .tags {
          margin-bottom: 5px; }
          .cards_list__item__head .tags .tag {
            margin-bottom: 7px; }
            .cards_list__item__head .tags .tag__text:hover {
              cursor: default; }
        .cards_list__item__head:not(.have_cover) {
          padding-bottom: 0; }
        .cards_list__item__head.have_cover {
          box-sizing: border-box;
          min-height: 8.55em; }
      .cards_list__item__about {
        position: relative; }
        .cards_list__item__about:not(.have_cover) {
          padding-top: 0; }
        .cards_list__item__about > div.cards_list__item__header, .cards_list__item__about > div.cards_list__item__subtext {
          letter-spacing: -0.01rem;
          color: #3b3d40;
          margin-bottom: .5rem;
          line-height: .9rem;
          font-size: .75rem; }
        .cards_list__item__about > div.cards_list__item__description {
          color: #838d8f;
          font-family: "PTSerif";
          line-height: .9rem;
          font-size: .7rem; }
        .cards_list__item__about > div.cards_list__item__subtext {
          margin-top: 1rem; }
        .cards_list__item__about > div.cards_list__item__button {
          border: 1px solid rgba(237, 237, 237, 0.2);
          transition: all 0.3s ease;
          box-sizing: border-box;
          display: inline-block;
          letter-spacing: 2px;
          border-radius: 1rem;
          text-align: center;
          margin-top: .8rem;
          max-width: 6.6rem;
          line-height: 1.2;
          font-size: 10px;
          padding: .5rem;
          width: 100%; }
      .cards_list__item:nth-child(2) {
        grid-column-end: span 2;
        grid-row-end: span 1; }
        .cards_list__item:nth-child(2) > div {
          padding: 1.5rem; }
        .cards_list__item:nth-child(2) .cards_list__item__paint {
          background-image: url(../img/default/card.png);
          background-position: calc(100% - 1.35em) center;
          background-color: #FFFFFF;
          background-repeat: no-repeat;
          background-size: auto 13em; }
        .cards_list__item:nth-child(2) .cards_list__item__head {
          padding-bottom: 0; }
        .cards_list__item:nth-child(2) .cards_list__item__about {
          padding-top: 0; }
          .cards_list__item:nth-child(2) .cards_list__item__about > div.cards_list__item__header {
            letter-spacing: -0.4px;
            color: #3c3d41;
            line-height: 1.24;
            font-size: 1.1em;
            margin-top: 5px;
            max-width: 61%; }
          .cards_list__item:nth-child(2) .cards_list__item__about > div.cards_list__item__description {
            max-width: 50%; }
      .cards_list__item:nth-child(3), .cards_list__item:nth-child(6) {
        justify-content: center;
        flex-direction: column;
        text-align: center;
        display: flex; }
        .cards_list__item:nth-child(3) > div, .cards_list__item:nth-child(6) > div {
          padding: 1.5rem; }
          .cards_list__item:nth-child(3) > div.cards_list__item__head, .cards_list__item:nth-child(6) > div.cards_list__item__head {
            padding-bottom: 0; }
          .cards_list__item:nth-child(3) > div.cards_list__item__about, .cards_list__item:nth-child(6) > div.cards_list__item__about {
            padding-top: 0; }
        .cards_list__item:nth-child(3) .cards_list__item__about > div, .cards_list__item:nth-child(6) .cards_list__item__about > div {
          color: #FFFFFF; }
          .cards_list__item:nth-child(3) .cards_list__item__about > div.cards_list__item__header, .cards_list__item:nth-child(6) .cards_list__item__about > div.cards_list__item__header {
            letter-spacing: -0.5px;
            line-height: 1.24;
            font-size: 1.1em; }
          .cards_list__item:nth-child(3) .cards_list__item__about > div.cards_list__item__description, .cards_list__item:nth-child(6) .cards_list__item__about > div.cards_list__item__description {
            line-height: 1.29;
            opacity: 0.6; }
        .cards_list__item:nth-child(3) .tags, .cards_list__item:nth-child(6) .tags {
          flex-direction: column;
          align-items: center; }
      .cards_list__item:nth-child(6) {
        grid-column-end: span 1;
        grid-row-end: span 2; }

@media (max-width: 992px) {
  .cards_list {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 480px) {
  .cards_list {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0; }
    .cards_list__item {
      grid-column-end: span 1 !important;
      grid-row-end: span 1 !important;
      min-height: 0; }
      .cards_list__item__paint {
        background-image: none !important; }
      .cards_list__item__header, .cards_list__item__description {
        max-width: none !important; } }
