doctype html

html(lang='ru', prefix="og: http://ogp.me/ns#")
    head
        title Тестовое задание

        // Necessary pages settings
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1")

        // Favicon
        link(rel="icon", type="img/png", href="../img/favicons/16.png", sizes="16x16")
        link(rel="icon", type="img/png", href="../img/favicons/32.png", sizes="32x32")
        link(rel="icon", type="img/png", href="../img/favicons/65.png", sizes="64x64")
        link(rel="apple-touch-icon", href="../img/favicons/96.png", sizes="96x96")

    body
        //header

        main(id='root')
            section.cards
                .container
                    .tags
                        div(v-for="(tag, index) in tags" :class="[ 'tag', tag.color_class, { 'active': selectedTags.includes(tag.name) } ]")
                            input(type="checkbox" :value="tag.name" v-model="selectedTags" :id="'tag-' + index")
                            label(class="tag__text" :for="'tag-' + index" v-html="tag.name")

                    .cards_list
                        .cards_list__item(v-for="(card, index) in cards" :class="[ { 'active': activeCards.includes(card) } ]")
                            .cards_list__item__paint(v-if="index == 1 || index == 2 || index == 5" :class="card.tags[0].color_class")

                            .cards_list__item__head(:class="[ { 'have_cover': card.image.length } ]" :style="{ 'background-image': 'url(' + card.image + ')' }")
                                .tags
                                    div(v-for="(tag, index) in card.tags" :class="[ 'tag', tag.color_class, 'active' ]")
                                        .tag__text(v-html="tag.name")

                            .cards_list__item__about(:class="[ { 'have_cover': card.image.length } ]")
                                .cards_list__item__header(v-html="card.header")
                                .cards_list__item__description(v-html="card.description")
                                .cards_list__item__subtext(v-if="card.image <= 0 && card.subdesc.length > 0" v-html="card.subdesc")
                                .cards_list__item__button(v-if="index == 2 || index == 5") READ MORE

        //footer